<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdMap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='annonser.css') }}">
</head>
<body>
  <div class="mini-header">
    <a class="mini-header-right"> Email: example123@gmail.com | MY Account </a>
    <a class="mini-header-left"> Help | Contact | Track Annonser </a>
  </div>
<div class="header">
  <div class="logo">
    <a class="logo-text">AdMap</a>
  </div>
  <div class="header-bar1"><a href="index.html">Home</a></div>
  <div class="header-bar"><a href="annonser.html">Annonser</a></div>
  <div class="header-bar"><a>Om</a></div>
  </div>
  <div class="search">
 <div class="search-box">
 <input class="search-bar" type="text" placeholder="Search..." name="Search">
      <form>
        <select class="search-options">
        <option>Stockholm</option>
        <option>Specifik Län</option>
        <option>Hela Sverige</option>
        </select>
        <select class="search-options">
        <option>Specifik Län</option>
        <option>Stockholm </option>
        <option>Huddinge</option>
		<option> Haninge </option>
		<option>Tyresö </option>
		<option>Dalarna </option>
		<option>norrtälje </option>
		<option> Sollentuna </option>
		<option>Upplands väsby </option>
		<option>Märsta </option>
		<option>Södertälje </option>
		<option> Botkyrka </option>
		<option> Lidingö </option>
		<option> Nacka </option>
		<option> Norrtälje </option>
		<option> Nykvarn </option>
		<option> Salem </option>
		<option> Nynäshamn </option>
		<option> Upplands-bro </option>
		<option> Österåker </option>
		<option> Vaxholm </option>
		<option> Värmdö </option>
		<option> solna </option>
        </select>
      </form>
    </div>
  </div>
  </body>
</html>
