<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdMap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/Flask_/static/styles/main.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <script src="main.js">
  
  </script>

</head>

<body>
  <div class="mini-header">
    <button onclick="login()" id="btnLogin">Login</button>
    <a class="mini-header-right"> Email: mail@example.com | My account</a>
    <a class="mini-header-left"> Help | Contact | Track Annonser </a>
  </div>
<div class="header">
  <div class="logo">
    <a class="logo-text">AdMap</a>
  </div>
  <div class="header-bar1"><a href="index.html">Home</a></div>
  <div class="header-bar"><a href="annonser.html">Annonser</a></div>
  <div class="header-bar"><a>Om</a></div>
  </div>
  <div id="Container">
    <div id="sidbar-left-locations">
    </div>
    <div id="sidbar-right-karta"></div>
  </div>





  <div id="loginBase">
    <div id="loginDesign" class="wrap-login100">
      <form class="login100-form" action="/" method="POST">

        <span class="login100-form-title">
          Log in
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <input class="input100" type="text" name="username" placeholder="Username">
          <span class="focus-input100 far" data-placeholder="&#9786;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100" data-placeholder="&#10037;"></span>
        </div>

        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" data-placeholder="&#10003;" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
          <button class="create-account">
              Create account
            </button>
        </div>


        <div class="text-center">
          <a class="txt1" href="#">
            Forgot Password?
          </a>
        </div>
      </form>

      <form action="/create" method="POST">
        <input name="create_username" placeholder="Username">
        <br>
        <input type="password" name="create_password" placeholder="Password">
        <br>
        <input type="password" name="create_re-password" placeholder="Re-Enter Password">
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="submit" value="Skapa Konto">
      </form>
    </div>
  </div>





<script>

    var loginBase = document.getElementById('loginBase');
    var loginDesign = document.getElementById('loginDesign');

    function login() {
      loginBase.style.display = "block";
    }
/*
    function loginClose(){
      loginDesign.style.animation = "fade-out 0.4s", loginBase.style.display = "none";
    }
*/

    window.onclick = function(event) {
      if (event.target === loginBase) {
        loginBase.style.display = "none";
      }
    }

</script>




<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>

<script>
</script>

</body>
</html>
